.section_container {
	@apply container  px-4 md:px-6 grid gap-6 lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_600px];

	.section_content {
		@apply flex flex-col gap-4 justify-center space-y-4;

		.first_div_container {
			@apply space-y-2;

			> h1 {
				@apply text-3xl xl:text-6xl/none font-bold tracking-tighter   mb-5;
			}

			> span {
				@apply max-w-[600px] md:text-xl pt-5;

				> div {
					@apply overflow-hidden py-3;

					> h1 {
						@apply inline-flex w-full text-left font-bold leading-none tracking-tighter;
					}
				}
			}
		}
	}

	.second_div_container {
		@apply flex flex-col gap-5 md:flex-row;

		.first_link_button {
			@apply bg-primary px-10 h-10 whitespace-pre rounded-full text-base text-white shadow flex items-center justify-center gap-1 hover:bg-primary/90 transition-all duration-300 ease-out hover:scale-105;

			> svg {
				@apply h-6 w-6 translate-x-0 transform transition-all duration-300 ease-out group-hover:translate-x-1;
			}
		}

		.second_link_button {
			@apply bg-slate-50 px-10 h-10 whitespace-pre rounded-full text-base text-primary flex items-center justify-center gap-1 hover:bg-slate-100/90 transition-all ease-in-out duration-300 hover:scale-105;

			> svg {
				@apply h-6 w-6 translate-x-0 transform transition-all duration-300 ease-out group-hover:translate-x-1;
			}
		}
	}
}

.social_container {
	@apply flex gap-x-2 pt-1 font-sans text-sm;

	.link {
		@apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm focus-visible:ring-1 font-medium focus-visible:outline-none px-3  disabled:opacity-50 border-slate-200 border bg-slate-50  py-2 shadow-sm transition-colors ease-in-out duration-300 hover:bg-slate-100;
	}
}

@keyframes blob {
	0% {
		border-radius: 38% 62% 54% 46% / 49% 60% 40% 51%;
	}
	25% {
		border-radius: 43% 57% 34% 66% / 56% 48% 52% 44%;
	}
	50% {
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	}
	75% {
		border-radius: 53% 47% 61% 39% / 37% 63% 37% 63%;
	}
	100% {
		border-radius: 38% 62% 54% 46% / 49% 60% 40% 51%;
	}
}

.blob_container {
	@apply w-[300px] h-[400px] overflow-hidden relative flex items-center justify-center m-auto bg-transparent border border-gray-200 max-h-[600px] max-w-[500px] md:h-[600px] md:w-[500px];
	animation: blob 8s infinite;
}

.image_inside {
	object-fit: cover;
	height: 100%;
	width: 100%;
}
