@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color: #171717;
	--background: #e5e7eb;
}

body {
	color: rgb(var(--color));
	background: --background;
}

.section {
	@apply w-full py-12 flex items-center border-b border-b-gray-300 justify-center flex-wrap flex md:py-24 lg:py-32;
}
