@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color: #171717;
	--background: #e5e7eb;
}

body {
	color: rgb(var(--color));
	background: --background;
}

.section {
	@apply w-full py-12 border-b border-b-gray-100 items-center justify-center flex-wrap flex lg:py-32;
}
